body{
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(205, 180, 230);
  }


  .imag_flex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

.geral{
  box-shadow: 0 4px 8px 0 #60266b;
  background-color: rgb(104, 93, 116); ;
  position: absolute;
  top: 50%;
  left: 51%;
  transform: translate(-50%,-50%);
  padding: 5%;
  border-radius: 15px;
}

.geral h1{
  color: rgb(238, 223, 252);
  font-family: 'Montserrat', sans-serif;
  margin-top: -1%;
  font-size: 30px;
  padding-bottom: 4%;
}
  
button{
  border: none;
  padding: 10px;
  width: 90%;
  margin-left: 5%;
  border-radius: 15px;
  font-size: 30px;
  cursor: pointer; 
  font-family: 'Montserrat', sans-serif;
}

.facil, .medio, .dificil{
  padding-bottom: 5%;
}

.facil button{
  background-color:rgb(238, 223, 252) ;
  color: rgb(83, 64, 102); 
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
}

.medio button{
  background-color:rgb(238, 223, 252) ;
  color: rgb(83, 64, 102); 
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
}

.dificil button{
  background-color:rgb(238, 223, 252) ;
  color: rgb(83, 64, 102); 
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
}


.bnt{
  background: var(--color);
}

.bnt-1{--color:#ffffff;}
.bnt-2{--color:hsl(0, 0%, 100%);}
.bnt-3{--color:hsl(0, 0%, 100%);}
.bnt-4{--color:hsl(69, 28%, 95%);}


.bnt-1:hover{
  background-color:  rgb(131, 238, 163);
}
.bnt-2:hover{
background-color: rgb(250, 250, 114);
}
.bnt-3:hover{
  background-color: rgb(241, 121, 121);
}

.voltar button{
  margin-top: 10%;
color: rgb(83, 64, 102); 
background-color:rgb(238, 223, 252) ;
font-family: 'Montserrat', sans-serif;

}

.voltar button:hover{
  background-color: rgb(203, 200, 204);
}

.new-idea{
  margin-left:65%;
}

.nameh1{
  margin-top: -53%;
}

