body{  
    background-color: rgb(205, 180, 230);
    font-family: 'Montserrat', sans-serif;
    }

    .grid-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.img-top{
    grid-column-start: 1;
      grid-column-end: 8;
    }
    
    .img-top img{
        width: 75%;
        margin-left: 13%;
        margin-top: 5%;
    }

    .container{
        grid-column-start: 8;
        grid-column-end: 12;
    }

    .option{
     margin-top: 15%;
     display: flex;
     justify-content: space-evenly;
     margin-left: 9%;
     
    }
    
    .option button{
        border: none;
        border-radius: 15px;
        font-family: 'Montserrat', sans-serif;
        font-size: 23px;
        font-weight: 600;
        padding: 10px;
        color: rgb(238, 223, 252);
        background-color: rgb(83, 64, 102);
        cursor: pointer;
    }

    .nome-qb{
        margin-top: 18%;

    }

    .nome-qb h1{
        color: black;
        margin-left: 5%;
        font-size: 50px;
        font-family: 'Montserrat', sans-serif;
    }

    .nome-qb p{
        margin-left: 7%;
        margin-top: -3%;
       font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        color: rgb(83, 64, 102);
    }

    .jogar button{
       margin-top: 18%;
       margin-left: 10%;
       font-size: 40px;
       border: none;
       border-radius: 15px;
       padding: 50px;
       background-color: rgb(83, 64, 102);
       color: rgb(238, 223, 252);
       cursor: pointer;
       font-weight: 600;
       font-family: 'Montserrat', sans-serif;
    }

    button:hover{
      background-color:rgb(153, 136, 170);
    }
    